a:link {
    color: white;
	style:none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #0bffd4;
}

/* selected link */
a:active {
    color:  rgba(0,0,0,.0);
}

@font-face {
    font-family: "WWDC";
    src: url(Resources/LetterGothicStd.otf)
}

body{
background:#282b35;
margin-top:180px;
}

p{
margin-top:180px;
}


body{
max-width: 1920px;
margin: 0 auto !important;
float: none !important;
}


#deadder{
	left:-5px;
padding-top:5px;
padding-right:5px;
width:100%;
background:#282b35;
position:fixed;
height:170px;
top:0px;
z-index:10;
}

#logo{
position:relative;
top:50px;
left:36px;
}
#string{
margin-left:146px;
margin-right:50px;
margin-top:-40px;
font-family:"WWDC";
padding-bottom:20px;
padding-left:20px;
border-bottom: .5px solid white;
}

.the{
font-size:40px;
color:#66885c;
}

.jolly{
font-size:40px;
color:#85356e;
}

.white{
font-size:40px;
color:#9d6b53;
}

.giant{
font-size:40px;
color:#097877;
}

.by{
font-size:20px;
color:#b8343c;
}

.colm{
font-size:20px;
color:#66885c;
}

.oneill{
font-size:20px;
color:#66648a;
}




#search{
	float:right;
}

.refine,.search{
	position:fixed;
	right:80px;
	float:right;
	border:1px solid white;
	background-color:#85356e;
	padding:5px;
	width:80px;
	border-radius:3px;
}

.search_t{
	position:fixed;
	right:170px;
	width:80px;
	border-radius:3px;
	padding:5px;
	margin-right:5px;
	border:2px solid #85356e;
}

#menu_g{
margin-top:170px;
margin-left:30%;
width:40%;
	
	
}

table{
	margin-left:25%;
	margin-right:25%;
	text-align:center;
	 border-collapse: collapse;
	 
	 
}

table, th, td{
border:10px #282b35 solid;
font-family:"WWDC";
color:white;
width:800px;
	
}

td{
	width:150px;
	height:75px;
	font-size:24px;
}


td:hover{
	-webkit-filter: grayscale(50%);
	color:black;
	}

a#cata:hover{
	color:  rgba(0,0,0,1);
}

#one{
background-color:#66885c;	
}

#two{		
background-color:#ed9a00;	
}

#three{
background-color:#b8343c;	
}

#four{
background-color:#85356e;	
}

#five{
background-color:#66648a;	
}

#six{
background-color:#9d6b53;	
}

#seven{
background-color:#097877;	
}

#eight{
background-color:#edc500;	
}

#graphics_c{
	
	margin:1px;
	width:72%;
	height:1600px;
	margin-top:100px;
	background:rgba(255,255,255,1);
	padding:100px;
	padding-left:19%;
	padding-right:9%;
	
	
}
#ImageDis{
	
	
}

#img{
	width:200px;
	height:200px;
	display:block;
	float:left;
	margin:27px;
	border:solid 1px black;
	background-position:center;
	background-size:40% 40%;
	
}

#overlay{
	background:rgba(000,000,000,.5);
	width:100%;
	
	z-index:1;
	postion:fixed;
	top:0px;
}

#close{
	background:rgba(50,50,50,.7);
	font-family: 'Fredoka One', cursive;
	color: white;
    padding: 10px;
	padding:22px;
	padding-bottom:25px;
	line-height:28px;
	border:none;
	border-radius:50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer{
	height:50px;
	text-align:center;
	color:white;
	text-decoration:none;
	visibility:visible;
	font-family: "WWDC";
}

footer p{
	margin:30px;
}
